.login-form-container {
   
    height: 60vh;
  
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.textinput {
    font-size: 25;
    padding: 10px;
    margin-top: 8px;

}

.submitButton{
    font-size: 25px;
    margin: 10px;
}

