{% extends "layout.html" %}

{% block title %}
Quizmaster 2023 - Admin Menu
{% endblock %}

{% block main %}

<div class="content">
    <h1>Velkommen, Admin {{ current_user.username }} !</h1>
    <p><a href="{{ url_for('create_quiz') }}">Create a new quiz!</a></p>
    <div class="outer-div">
        <div class="inner-div">
            <h3>Quizez!</h3>
            <table>
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Edit quiz</th>
                  </tr>
                </thead>
                <tbody>
                  {% for quiz in quiz_tuple %}
                  <tr>
                    <td>{{ quiz[1] }}</td>
                    <td>{{ quiz[2] }}</td>
                    <td><a href="{{ url_for('create_question', quiz_name=quiz[1]) }}">Edit</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
         </div>
    </div> 

  <div class="outer-div2">
    <div class="inner-div2">
      <h3>Administer quizez!</h3>
      <a href="{{ url_for('administrate_quiz') }}">Continue</a>
    </div>
  </div>


</div>
<style>

  .content {
    display: block;
    
  }
  .outer-div {
    background-color: gray;
    opacity: 75%;
    border-radius: 5%;
  }
  .outer-div2 {
    background-color: gray;
    opacity: 75%;
  }


  
  
  
  </style>
{% endblock %}

