{% extends "layout.html" %}

{% block title %}
Quizmaster 2023 - Admin login
{% endblock %}


{% block main %}
<div class="login-form-container">
  <form method="POST" action="{{ url_for('admin_login') }}" class="login-form">
    {{ form.csrf_token }}
    {{ form.username }}
    {{ form.password }}

    <button type="submit" class = "submitButton">Logg inn</button>

    <a href="{{ url_for('register_admin') }}">Ikke registret? Klikk her.</a>
    

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class=flashes>
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

  </form>
</div>
{% endblock %}




 


