{% extends "layout.html" %}

{% block title %}
Quizmaster 2023 - Home
{% endblock %}

{% block main %}

<form method="POST" action="{{url_for('home')}}" class="form-usertype">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <select required name="usertype">
        <option value="" hidden>Type of user</option>
        <option value="normal">Normal</option>
        <option value="admin">Admin</option>
    </select>
    <button id="button" type="submit">Continue</button>
</form>

 

{% endblock %}

