{% extends "layout.html" %}

{% block title %}
Quizmaster 2023 - Menu
{% endblock %}

{% block main %}

<div class="main-div">
  <br><br>
    <h1>Velkommen, {{ current_user.username }} !</h1>
    <br>
    <div class="outer-div">
        <div class="inner-div">
            <h3>Quizes:</h3>
            <table>
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Link</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for quiz in quiz_tuple %}
                  <tr>
                    <td>{{ quiz[1] }}</td>
                    <td>{{ quiz[2] }}</td>
                    <td><a href="{{ url_for('run_quiz', quiz_name=quiz[1]) }}">{{ quiz[1] }}</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
         </div>
    </div>

    <div class="outer-div2">
      <div class="inner-div2">
        <h3>Gjennomførte quizez!</h3>
        <a href="{{ url_for('view_quiz_results') }}">Continue</a>
      </div>
    </div>

</div>
 

<style>
  
  .outer-div {
    border: 1px solid black;
    background-color: antiquewhite;
  }


</style>
{% endblock %}

